{% extends 'base.html' %}

{% block javascript %}
<script>
    $(function() {
        $('#createManager').ajaxForm({
            success: function(res) {
                location.reload();
            }
        })
    })
</script>    
{% endblock %}

{% block content %}
<div class="container main user">
    <h2 class="title">관리자 계정</h2>
    <h4 class="sub-title">
        <a href="{% url 'user:fan' %}">팬 계정</a>
    </h4>
    <div class="search-area">
        <input type="search" placeholder="검색어를 입력하세요" name='search' />
    </div>
    <div class="user-list">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">NO</th>
                    <th scope="col">권한</th>
                    <th scope="col">아이디</th>
                    <th scope="col">이메일</th>
                    <th scope="col">관리자명</th>
                    <th scope="col">마지막 접속 일시</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr>
                    <td>{{ object.pk }}</td>
                    <td>{{ object }}</td>
                    <td>{{ object.username }}</td>
                    <td>{{ object.email }}</td>
                    <td>{{ object.name }}</td>
                    <td>{{ object.last_login|date:"Y/m/d h:m" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="">
        <button class="btn" data-toggle="modal" data-target="#createManagerModal">소속사 관리자 추가</button>
    </div>
</div>
{% endblock %}

{% block modal %}
<div class="modal fade" id="createManagerModal" tabindex="-1" role="dialog" aria-labelledby="createManagerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="POST" action="{% url 'user:manager_create' %}" id="createManager">
            {% csrf_token %}
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">관리자 신규 정보</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    {% for field in form %}
                        <div class="form-group row">
                            <label for="{{ field.id }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
                            <div class="input col-sm-10">
                            {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">취소</button>
                    <button type="submit" class="btn">등록</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}