.main-header {
  background: #12012d !important;
  color: #fff;
}

.main-header .navbar-brand {
  color: #fff;
}

.main-header .navbar-brand > span {
  color: #ff005a;
}

.main-header .nav-item > a {
  color: #fff;
}
