{% load staticfiles pipeline %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <title>C.LAB - 연예인 스케줄 관리</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'vendor/jquery-ui.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/jquery-ui.theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/jquery-ui.structure.min.css' %}">

  {% stylesheet 'app' %}
  {% block css %}
  {% endblock %}

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>
  <script src="{% static 'vendor/jquery-ui.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
  {% javascript 'app' %}
  {% block javascript %}
  {% endblock %}
</head>

<body>
  {% include 'header.html' %}
  <div class="container-fluid">
    {% block content %}
    {% endblock %}
  </div>
  {% block modal %}
  {% endblock %}
</body>

</html>
